@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');



html{
  font-size: 100%;
}

.top1{
  height: 100vh;
  padding-top: 50px;
}
.boxsize{
  width: 500px;
  color: white;
}
.hundredHeight{
  height: 100vh;
}

.mybg-image{
  background-image: url('../../assets/iot3jpg.jpg');
  height: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: fixed;
}
.form-control::-webkit-input-placeholder {
  color: red;
}
.form   .signin-input{
  border: 1px solid white;
  outline: none;
  height: 50px;
  padding:0 15px;
  width: 100%;
  color: white;
  background-color: transparent !important;
  border-radius: 10px;
  
}
.form   .signin-input::placeholder {
  color: white !important;
  opacity: 0.6;
  }