:root{
    --gaugeColor: green;
  
  }
  .sizingP{
      width: 100%
    }
    .box1{
      
      position: absolute;
      left: 0;
      top: 0;
    }
    .gauge {
        width: 100%;
        max-width: 250px;
        font-family: "Roboto", sans-serif;
        font-size: 32px;
        color: #004033;
        
      }
  .gauge-container{
      align-items: center;
      border: 1px solid red;
      padding: 10px;
      margin: 10px;
  }
  @media screen and(max-width:770px){
      .gauge-container{
          align-items: center;
          border: 1px solid red;
          padding: 5px;
          margin: 5px;
      }
  }
     
      .gauge__body {
          align-items: center;
        width: 100%;
        height: 0;
        padding-bottom: 50%;
        background: #b4c0be;
        position: relative;
        border-top-left-radius: 100% 200%;
        border-top-right-radius: 100% 200%;
        overflow: hidden;
      }
      
      .iot_gauge__fill {
        position: absolute;
        top: 100%;
        left: 0;
        width: inherit;
        height: 100%;
        background: lawngreen;
        transform-origin: center top;
        transform: rotate(var(--temp));
        transition: transform 0.2s ease-out;
      }
      
      .gauge__cover {
        width: 75%;
        height: 150%;
        background: #ffffff;
        border-radius: 50%;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
      
        /* Text */
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 25%;
        box-sizing: border-box;
      }
      